<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83084675693-ejq7qs8pgpetqrhbjqkhb6i4gsq5re3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83084675693-ejq7qs8pgpetqrhbjqkhb6i4gsq5re3t</string>
	<key>API_KEY</key>
	<string>AIzaSyD5VQXKUxkCdRiJtYgoFMHOPIatnMoOslY</string>
	<key>GCM_SENDER_ID</key>
	<string>83084675693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mythstudios.movieDatabase</string>
	<key>PROJECT_ID</key>
	<string>flutter-movies-1ec82</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-movies-1ec82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83084675693:ios:2970e738306ea300640d64</string>
</dict>
</plist>